body {
    background-image: url('joe-woods-4Zaq5xY5M_c-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.signup-box label {
    display: block;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.8);
}

.signup-box input[type="text"],
.signup-box input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #333;
}

.signup-box input[type="submit"] {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-box input[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.back-button {
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    line-height: 1;
}